.single-tile .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    gap: 1rem;
    justify-items: start;
}
.label{
    font-weight: bold;
}
.value{
    margin-left: 10px;
}